.wrapper
  - @entries.each do |e|
    - unless e.user.id == current_user.id
      .user-name
        %a.rooms-user-link{:href => "/users/#{e.user.id}"}
          .name-area
            = e.user.name
        .info-area
          さんとのメッセージ
          
  .chats
    .chat
      - if @messages.present?
        - @messages.each do |m|
          .message
            - if m.user.id == current_user.id
              .chat-box-right
                .chat-hukidashi
                  .content-right
                    = m.content
                  .time
                    = m.created_at.strftime("%Y年%m月%d日 %H時%M分")
                .chat-face
                  = image_tag m.user.avatar, class:"user-image"
            - else 
              .chat-box-left
                .chat-face
                  = image_tag m.user.avatar, class:"user-image"
                .chat-hukidashi
                  .content-left
                    = m.content
                  .time
                    = m.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .posts
      = form_for @message do |f|
        = f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field"
        = f.hidden_field :room_id, value: @room.id
        = f.submit "投稿",class: 'form-submit'
